<app-nav></app-nav>
<app-sidebar></app-sidebar>
<div class="container">
  <div class="menu">
    <button (click)="selectOption('trimestre')">
      <i class="fa fa-calendar"></i> Trimestre
    </button>
    <button (click)="selectOption('instituto')">
      <i class="fa fa-university"></i> Instituto
    </button>
    <button (click)="selectOption('cargar-datos')">
      <i class="fa fa-file-excel-o"></i> Cargar datos en Excel
    </button>
  </div>

  <div class="form-container" *ngIf="selectedOption">
    <form (ngSubmit)="onSubmit()">
      <div *ngIf="selectedOption === 'trimestre'">
        <h2>Trimestre</h2>
        <button type="submit" class="btn btn-primary">Registrar</button>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID del trimestre</th>
              <th>Nombre</th>
              <th>Fecha inicio</th>
              <th>Fecha fin</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trimestre of trimestres">
              <td>{{ trimestre.id_trimestre }}</td>
              <td>{{ trimestre.nombre }}</td>
              <td>{{ formatDate(trimestre.fecha_inicio) }}</td>
              <td>{{ formatDate(trimestre.fecha_fin) }}</td>
              <td>
                <button class="btn btn-primary" (click)="editarTrimestre(trimestre)">
                  <i class="fa fa-edit"></i> Editar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="selectedOption === 'instituto'">
        <h2>Instituto</h2>
        <button type="submit" class="btn btn-primary">Registrar</button>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID del instituto</th>
              <th>Nombre</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let instituto of institutos">
              <td>{{ instituto.id }}</td>
              <td>{{ instituto.nombre }}</td>
              <td>
                <button class="btn btn-primary" (click)="editarInstituto(instituto)">
                  <i class="fa fa-edit"></i> Editar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="selectedOption === 'cargar-datos'">
        <h2>Cargar Investigadores desde Excel</h2>
      
        <!-- Botón para descargar el formato de Excel -->
        <button (click)="descargarFormatoExcel()" class="btn btn-success mx-2 my-3">
          <i class="fa fa-download"></i> Descargar Formato de Excel
        </button>
      
        <!-- Input para seleccionar archivo -->
        <input type="file" (change)="onFileSelected($event)" accept=".xlsx, .xls" class="form-control my-3">
      
        <!-- Botón para cargar investigadores -->
        <button [disabled]="!isUploadButtonEnabled" (click)="cargarInvestigadores()" class="btn btn-primary mx-2 my-3">
          Cargar Investigadores
        </button>
      </div>
      
    </form>
  </div>
</div>