<app-nav></app-nav>
<app-sidebar></app-sidebar>
<div class="container">
  <div class="menu">
    <button (click)="selectOption('trimestre')">
      <i class="fa fa-calendar"></i> Trimestre
    </button>
    <button (click)="selectOption('instituto')">
      <i class="fa fa-university"></i> Instituto
    </button>
    <button (click)="selectOption('tipo-publicacion')">
      <i class="fa fa-book"></i> Tipo de publicación
    </button>
    <button (click)="selectOption('cargar-datos')">
      <i class="fa fa-file-excel-o"></i> Cargar datos en Excel
    </button>
  </div>

  <div class="form-container" *ngIf="selectedOption">
    <form (ngSubmit)="onSubmit()">
      <div *ngIf="selectedOption === 'trimestre'">
        <h2>Trimestre</h2>
        <button type="submit" class="btn btn-primary">Registrar</button>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID del trimestre</th>
              <th>Nombre</th>
              <th>Fecha inicio</th>
              <th>Fecha fin</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trimestre of trimestres">
              <td>{{ trimestre.id_trimestre }}</td>
              <td>{{ trimestre.nombre }}</td>
              <td>{{ formatDate(trimestre.fecha_inicio) }}</td>
              <td>{{ formatDate(trimestre.fecha_fin) }}</td>
              <td>
                <button class="btn btn-primary" (click)="editarTrimestre(trimestre)">
                  <i class="fa fa-edit"></i> Editar
                </button>
                <button class="btn btn-danger" (click)="eliminarTrimestre(trimestre)">
                  <i class="fa fa-trash"></i> Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="selectedOption === 'instituto'">
        <h2>Instituto</h2>
        <button type="submit" class="btn btn-primary">Registrar</button>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID del instituto</th>
              <th>Nombre</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let instituto of institutos">
              <td>{{ instituto.id }}</td>
              <td>{{ instituto.nombre }}</td>
              <td>
                <button class="btn btn-primary" (click)="editarInstituto(instituto)">
                  <i class="fa fa-edit"></i> Editar
                </button>
                <button class="btn btn-danger" (click)="eliminarInstituto(instituto)">
                  <i class="fa fa-trash"></i> Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="selectedOption === 'tipo-publicacion'">
        <h2>Tipo de Publicación</h2>
        <button type="submit" class="btn btn-primary">Registrar</button>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID del tipo de publicación</th>
              <th>Nombre</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tipoPublicacion of tiposPublicacion">
              <td>{{ tipoPublicacion.id_publicacion_tipo }}</td>
              <td>{{ tipoPublicacion.descripcion_publicacion_tipo }}</td>
              <td>
                <button class="btn btn-primary" (click)="editarTipoPublicacion(tipoPublicacion)">
                  <i class="fa fa-edit"></i> Editar
                </button>
                <button class="btn btn-danger" (click)="eliminarTipoPublicacion(tipoPublicacion)">
                  <i class="fa fa-trash"></i> Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="selectedOption === 'cargar-datos'">
        <h2>Cargar Datos en Excel</h2>
        <input type="file" (change)="onFileSelected($event)">
      </div>
    </form>
  </div>
</div>
