<app-nav></app-nav>
<div class="container content">
    <h3>Consultar Investigaciones</h3>
    <form>
        <div class="form-group">
            <label for="startDate">Fecha de Inicio</label>
            <input type="text" class="form-control" id="startDate" placeholder="Seleccione la fecha de inicio">
        </div>
        <div class="form-group">
            <label for="endDate">Fecha Final</label>
            <input type="text" class="form-control" id="endDate" placeholder="Seleccione la fecha final">
        </div>

        <div class="form-group">
            <label for="instituto">Instituto</label>
            <select class="form-control" id="instituto" onchange="loadProfessors()">
                <option value="">Seleccione un instituto</option>
                <option value="IEM">Instituto de Estudios Municipales</option>
                <option value="ISP">Instituto de Investigación sobre la Salud Pública</option>
                <option value="IF">Instituto de Informática</option>
                <option value="IN">Instituto de Nutrición</option>
                <option value="IE">Instituto de Estudios Empresariales</option>
                <option value="DEP">División de Estudios de Postgrado</option>
            </select>
        </div>
        <div class="form-group">
            <label for="profesor">Profesor</label>
            <select class="form-control" id="profesor" onchange="loadInvestigations()">
                <option value="">Seleccione un profesor</option>
                <!-- Opciones de profesores se cargarán dinámicamente -->
            </select>
        </div>

    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID de Investigación</th>
                <th>Titulo de revista</th>
                <th>Fecha de publicación</th>
            </tr>
        </thead>
        <tbody id="investigations-table-body">
            <tr *ngFor="let articulo of articulos; trackBy: trackById">
                <td>{{articulo.id}}</td>
                <td>{{articulo.titulo_revista}}</td>
                <td>{{articulo.fecha_publicacion}}</td>
            </tr>
        </tbody>
    </table>
</div>