<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">Menu</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li *ngIf="!userLoginOn" class="nav-item">
        <a class="nav-link" routerLink="/iniciar-sesion">
          <i class="fa fa-sign-in" aria-hidden="true"></i> Iniciar Sesión
        </a>
      </li>
      <li *ngIf="userLoginOn" class="nav-item">
        <a class="nav-link" (click)="logout()" routerLink="/inicio">
          <i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar Sesión
        </a>
      </li>
    </ul>
  </div>
</nav>
