<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/registrar-investigador']">Registrar Investigador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/consultar-investigador']">Consultar Publicaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/registrar-publicacion']">Registrar Publicación</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <router-outlet></router-outlet>
  