<!-- user-list.component.html -->
<app-nav></app-nav>
<app-menu></app-menu>
<div class="container">
  <div class="header">
    <h3>Usuarios
      <button class="btn btn-success float-right" (click)="FormCrear()">
        <i class="fa fa-plus"></i> Crear
      </button>
    </h3>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre de Usuario</th>
        <th>Role</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ getRoleText(user.role) }}</td>
        <td>
          <button class="btn btn-primary" (click)="FormEditar(user)">
            <i class="fa fa-edit"></i> Editar
          </button>
          <button *ngIf="user.enabled" class="btn btn-danger" (click)="onDisable(user)">
            <i class="fa fa-trash"></i> Dar de baja
          </button>
          <button *ngIf="!user.enabled" class="btn btn-success" (click)="onEnable(user)">
            <i class="fa fa-check"></i> Habilitar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
