/* user-list.component.css */
.table {
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  margin-left: 5px;
}

.container {
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.layout {
  display: flex;
  min-height: 100vh; /* Para ocupar toda la altura de la ventana */
}
