/* Estilos generales para el formulario */
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo para el título */
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Arial', sans-serif;
  }
  
  /* Estilos para los labels */
  label {
    font-weight: bold;
    color: #555;
    font-family: 'Arial', sans-serif;
  }
  
  /* Estilos para los inputs */
  input[type="text"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  input:focus {
    border: 1px solid #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  /* Estilos para los botones */
  button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    width: 48%;
  }
  
  /* Botón cancelar */
  .cancel-button {
    background-color: #dc3545;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button.cancel-button:hover {
    background-color: #c82333;
  }
  
  button:active {
    background-color: #004085;
  }
  
  button.cancel-button:active {
    background-color: #bd2130;
  }
  
  /* Estilo para el botón cuando se presiona */
  button:active {
    background-color: #004085;
  }
  
  button.cancel-button:active {
    background-color: #c82333;
  }
  
  /* Estructura para alinear los botones */
  .form-group.buttons {
    display: flex;
    justify-content: space-between;
  }
  
  /* Adaptabilidad para pantallas más pequeñas */
  @media (max-width: 600px) {
    .container {
      width: 90%;
      padding: 15px;
    }
  
    button {
      font-size: 14px;
      width: 100%;
    }
  
    .form-group.buttons {
      flex-direction: column;
    }
  }
  