<!-- user-list.component.html -->
<app-nav></app-nav>
<app-sidebar></app-sidebar>
<div class="container">
    <div class="header">
        <h3>Investigadores
        </h3>
    </div>
    <!-- ComboBox para Institutos -->
    <div class="form-group">
        <label for="institutoSelect">Filtrar por Instituto:</label>
        <select class="form-control" id="institutoSelect" (change)="onInstitutoChange($event)">
            <option value="">Todos</option>
            <option *ngFor="let instituto of institutos" [value]="instituto.id">
                {{ instituto.nombre }}
            </option>
        </select>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Nombre</th>
                <th>Segundo Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let investigador of investigadores| paginate: { itemsPerPage: 10, currentPage: p }">

                <td>{{ investigador.apellido_paterno_1_investigador }}</td>
                <td>{{ investigador.apellido_materno_2_investigador }}</td>
                <td>{{ investigador.nombre_1_investigador }}</td>
                <td>{{ investigador.nombre_2_investigador }}</td>
                <td>
                    <button class="btn btn-primary" (click)="onEdit(investigador)">
                        <i class="fa fa-edit"></i> Editar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Controles de paginación -->
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente">
    </pagination-controls>
</div>