body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Reducimos el ancho del formulario */
}

.registration-form {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form h3 {
    margin-bottom: 20px;
    font-size: 1.4rem; /* Ajustamos el tamaño del título */
}

.registration-form .form-group {
    margin-bottom: 15px;
}

.registration-form label {
    font-weight: bold;
    color: #333;
    font-size: 0.9rem; /* Reducimos el tamaño de las etiquetas */
}

.registration-form .form-control {
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    width: 100%; /* Aseguramos que los inputs ocupen todo el ancho disponible */
}

.registration-form .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.registration-form .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
    font-size: 16px;
    width: 100%; /* Hacemos el botón ocupar todo el ancho del formulario */
}

.registration-form .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.registration-form .text-danger {
    font-size: 12px;
    margin-top: 5px;
}

.input-group-append .input-group-text {
    background: none;
    border: none;
    cursor: pointer;
}

.password-toggle i {
    font-size: 1.2rem;
}
.btn-block {
    margin-bottom: 10px; /* Añade un margen inferior entre los botones */
  }
  
  button[type="submit"] {
    margin-right: 10px; /* Añade un margen derecho entre los botones */
  }