/* General Styles */
body {
  font-family: 'Overpass', sans-serif;
  font-weight: normal;
  font-size: 100%;
  color: #1b262c;
  margin: 0;
  background-color: #5f6769;
}
.input-group-append .input-group-text {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px; /* Adjust padding to match input height */
  margin-bottom: 20px;
}
.form-control {
  padding-right: 2.5rem; /* Add space for the icon inside the input */
}


/* Fullscreen container */
#contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-image: url(fondo1.png);
  background-position: center;
  background-size: cover;
}

/* Centered container */
#contenedorcentrado {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-width: 380px;
  max-width: 900px;
  width: 90%;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
  padding: 30px;
  box-sizing: border-box;
}

/* Login form styles */
#login {
  width: 100%;
  max-width: 320px;
  min-width: 320px;
  padding: 30px 30px 50px 30px;
  background-color: #928787;
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
  border-radius: 3px;
  box-sizing: border-box;
}

#loginform .form-group {
  margin-bottom: 20px;

}

#loginform label {
  display: block;
  font-family: 'Overpass', sans-serif;
  font-size: 120%;
  color: #f2f4f7;
  margin-top: 15px;
}

#loginform .input-group {
  display: flex;
  align-items: center;
}

#loginform .input-group-prepend {
  margin-right: -1px; /* Elimina el espacio entre el icono y el campo */
}

#loginform .input-group-text {
  background-color: #383636;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  color: #f2f4f7;
}

#loginform .input-group-text i {
  color: #f2f4f7;
}

#loginform input {
  font-family: 'Overpass', sans-serif;
  font-size: 110%;
  color: #1b262c;
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
}

#loginform input::placeholder {
  font-family: 'Overpass', sans-serif;
  color: #796f6f;
}

#loginform .form-control:focus {
  border-color: #f2f4f7;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#loginform .btn-primary {
  background-color: #333;
  border-color: #f2f4f7;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

#loginform .btn-primary:hover {
  background-color: #787b7e;
  border-color: #787b7e;
}

#loginform .text-danger {
  font-size: 12px;
  margin-top: 5px;
}

/* Right section styles */
#derecho {
  text-align: center;
  width: 100%;
  opacity: 0.70;
  padding: 20px 50px;
  box-sizing: border-box;
}

.titulo {
  font-size: 300%;
  color: #dfcdc3;
}

hr {
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #dfcdc3;
}

.pie-form {
  font-size: 90%;
  text-align: center;
  margin-top: 15px;
}

.pie-form a {
  display: block;
  text-decoration: none;
  color: #dfcdc3;
  margin-bottom: 3px;
}

.pie-form a:hover {
  color: #719192;
}

/* Navbar styles */
.navbar {
  background-color: #550603;
  padding: 10px 20px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.navbar-nav .nav-item .nav-link {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  padding: 10px 15px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #83b5eb;
  background-color: #3b0503;
  border-radius: 5px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  color: #ffffff;
}

.ml-auto {
  margin-left: auto;
}

/* Responsive design for smaller screens */
@media all and (max-width: 775px) {
  #contenedorcentrado {
    flex-direction: column-reverse;
  }
  
  #login {
    margin: 0 auto;
  }
  
  #derecho {
    padding: 20px;
  }
  
  #loginform label {
    text-align: left;
  }
}
