form {
  margin: 30px;
}
/* Estilos para el formulario de inicio de sesión */
.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.login-form .form-group {
  margin-bottom: 15px;
}

.login-form label {
  font-weight: bold;
  color: #333;
}

.login-form .form-control {
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}

.login-form .form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.login-form .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 5px;
  font-size: 16px;
}

.login-form .btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.login-form .text-danger {
  font-size: 12px;
  margin-top: 5px;
}

/* Estilos para la barra de navegación */
.navbar {
  background-color: #550603; /* Color de fondo oscuro */
  padding: 5px 10px;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.navbar-nav .nav-item .nav-link {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  padding: 10px 15px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #83b5eb;
  background-color: #3b0503; /* Color de fondo al pasar el ratón */
  border-radius: 5px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  color: #ffffff;
}

.ml-auto {
  margin-left: auto;
}