<app-nav></app-nav>
<app-menu></app-menu>
<div class="container">
    <h3>Consultar publicaciones</h3>

    <div class="card-container">
        <!--Bloque Taller Izquierdo-->
        <div class="card mt-4 altura">
            <!--Cuadro superior I-->
            <div class="card-body">
                <form (ngSubmit)="searchPublications()">
                    <div class="form-group">
                        <label>
                            <input type="checkbox" [(ngModel)]="filtrarPorInstituto"
                                [ngModelOptions]="{standalone: true}" />
                            Filtrar por instituto <i class="fa fa-university"></i>
                        </label>
                    </div>
                    <div *ngIf="filtrarPorInstituto" class="form-group">
                        <label for="instituto">Instituto</label>
                        <select class="form-control" id="instituto" [(ngModel)]="selectedInstituto" name="instituto">
                            <option value="">Seleccione un instituto</option>
                            <option *ngFor="let instituto of institutos" [value]="instituto.id">{{ instituto.nombre }}
                            </option>
                        </select>
                    </div>
                </form>
            </div>

            <!--Cuadro inferior III-->
            <div class="form-group">
                <label>
                    <input type="checkbox" [(ngModel)]="filtrarPorProfesor" [ngModelOptions]="{standalone: true}" />
                    Filtrar por profesor <i class="fa fa-user"></i>
                </label>
            </div>
            <div *ngIf="filtrarPorProfesor" class="form-group">
                <label for="profesor">Profesor</label>
                <select class="form-control" id="profesor" [(ngModel)]="selectedProfesor" name="profesor">
                    <option value="">Seleccione un profesor</option>
                    <option *ngFor="let profesor of profesores" [value]="profesor.id_autor">{{ profesor.nombre1Autor }}
                        {{ profesor.nombre2Autor }} {{ profesor.apellidoPaternoAutor }}</option>
                </select>
            </div>
        </div>

        <!--Bloque Taller Derecho-->
        <div class="card mt-4 altura">
            <!--Cuadro superior II-->
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" [(ngModel)]="filtrarPorFechas"
                                [ngModelOptions]="{standalone: true}" />
                            Filtrar por fechas <i class="fa fa-calendar"></i>
                        </label>
                    </div>
                    <div *ngIf="filtrarPorFechas" class="form-group-container">
                        <div class="form-group">
                            <label for="startDate">Fecha de Inicio</label>
                            <input type="date" id="start" name="start" [(ngModel)]="startDate" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="endDate">Fecha Final</label>
                            <input type="date" id="end" name="end" [(ngModel)]="endDate" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>

            <!--Cuadro inferior IV-->
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" [(ngModel)]="filtrarPorTipo" [ngModelOptions]="{standalone: true}" />
                            Filtrar por tipo de publicación <i class="fa fa-file"></i>
                        </label>
                    </div>
                    <div *ngIf="filtrarPorTipo" class="form-group">
                        <label for="publicacion">Tipo de publicación</label>
                        <select class="form-control" id="tipo_publicacion" [(ngModel)]="selectedTipoPublicacion" name="publicacion">
                            <option value="">Seleccione un tipo de publicación</option>
                            <option *ngFor="let tipo_publicacion of tipo_publicaciones" [value]="tipo_publicacion.id_publicacion_tipo">{{ tipo_publicacion.descripcion_publicacion_tipo }}</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Buscar</button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID de Investigación</th>
                <th>Titulo de revista</th>
                <th>Fecha de publicación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let articulo of articulos; trackBy: trackById">
                <td>{{articulo.id_articulo}}</td>
                <td>{{articulo.titulo_revista}}</td>
                <td>{{articulo.fecha_publicacion}}</td>
                <td>
                    <button class="btn btn-primary" (click)="editarArticulo(articulo)">
                        <i class="fa fa-edit"></i> Editar
                    </button>
                    <button class="btn btn-danger" (click)="darDeBajaArticulo(articulo)">
                        <i class="fa fa-trash"></i> Dar de baja
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <button (click)="reporteExe()">Download Exel</button>

</div>