<app-nav></app-nav>
<app-sidebar></app-sidebar>
<div *ngIf="articulo" class="articulo-card">
  <h3 class="card-header">Título de la Publicación: {{ articulo.nombre_articulo }}</h3>
  <div class="card-body">

    <!-- Si el tipo de publicación es 1 -->
    <div *ngIf="articulo.tipoPublicacion.id_publicacion_tipo === 1">
      <p><strong>Fecha de Publicación:</strong> {{ articulo.fecha_publicacion | date }}</p>
      <p><strong>Título de Revista:</strong> {{ articulo.titulo_revista }}</p>
      <p><strong>Número de Revista:</strong> {{ articulo.numero_revista }}</p>
      <p><strong>Volumen:</strong> {{ articulo.volumen_revista }}</p>
      <p><strong>Páginas:</strong> {{ articulo.pag_inicio }} - {{ articulo.pag_final }}</p>
      <p><strong>DOI:</strong> {{ articulo.doi }}</p>
      <p><strong>Nombre del Artículo:</strong> {{ articulo.nombre_articulo }}</p>
      <p><strong>Índice MIAR:</strong> {{ articulo.indice_miar }}</p>
      <p><strong>Financiamiento PRODEP:</strong> {{ articulo.financiamiento_prodep ? 'Sí' : 'No' }}</p>
      <p *ngIf="rolUsuario === 'COORDINADOR'"><strong>Observaciones de Gestion académica:</strong> {{
        articulo.observaciones_gestion }}</p>
      <p *ngIf="rolUsuario === 'ADMIN'"><strong>Observaciones del director de instituto:</strong> {{
        articulo.observaciones_directores }}</p>
    </div>

    <!-- Si el tipo de publicación es 2 -->
    <div *ngIf="articulo.tipoPublicacion.id_publicacion_tipo === 2">
      <p><strong>Fecha de Publicación:</strong> {{ articulo.fecha_publicacion | date }}</p>
      <p><strong>Título de Revista:</strong> {{ articulo.titulo_revista }}</p>
      <p><strong>Páginas:</strong> {{ articulo.pag_inicio }} - {{ articulo.pag_final }}</p>
      <p><strong>ISBN Impreso:</strong> {{ articulo.isbn_impreso }}</p>
      <p><strong>ISBN Digital:</strong> {{ articulo.isbn_digital }}</p>
      <p><strong>Nombre del Artículo:</strong> {{ articulo.nombre_articulo }}</p>
      <p><strong>Editorial:</strong> {{ articulo.editorial }}</p>
      <p><strong>Nombre del Capítulo:</strong> {{ articulo.nombre_capitulo }}</p>
      <p><strong>Observaciones Directores:</strong> {{ articulo.observaciones_directores }}</p>
      <p><strong>Observaciones Gestión:</strong> {{ articulo.observaciones_gestion }}</p>
      <p><strong>Índice MIAR:</strong> {{ articulo.indice_miar }}</p>
      <p><strong>Financiamiento PRODEP:</strong> {{ articulo.financiamiento_prodep ? 'Sí' : 'No' }}</p>
      <p *ngIf="rolUsuario === 'COORDINADOR'"><strong>Observaciones de Gestion académica:</strong> {{
        articulo.observaciones_gestion }}</p>
      <p *ngIf="rolUsuario === 'ADMIN'"><strong>Observaciones del director de instituto:</strong> {{
        articulo.observaciones_directores }}</p>
    </div>

    <!-- Si el tipo de publicación es 3 -->
    <div *ngIf="articulo.tipoPublicacion.id_publicacion_tipo === 3">
      <p><strong>Fecha de Publicación:</strong> {{ articulo.fecha_publicacion | date }}</p>
      <p><strong>Título de Revista:</strong> {{ articulo.titulo_revista }}</p>
      <p><strong>ISBN Impreso:</strong> {{ articulo.isbn_impreso }}</p>
      <p><strong>ISBN Digital:</strong> {{ articulo.isbn_digital }}</p>
      <p><strong>Nombre del Artículo:</strong> {{ articulo.nombre_articulo }}</p>
      <p><strong>Editorial:</strong> {{ articulo.editorial }}</p>
      <p><strong>Nombre del Capítulo:</strong> {{ articulo.nombre_capitulo }}</p>
      <p><strong>Observaciones Directores:</strong> {{ articulo.observaciones_directores }}</p>
      <p><strong>Observaciones Gestión:</strong> {{ articulo.observaciones_gestion }}</p>
      <p><strong>Índice MIAR:</strong> {{ articulo.indice_miar }}</p>
      <p><strong>Financiamiento PRODEP:</strong> {{ articulo.financiamiento_prodep ? 'Sí' : 'No' }}</p>
      <p *ngIf="rolUsuario === 'COORDINADOR'"><strong>Observaciones de Gestion académica:</strong> {{
        articulo.observaciones_gestion }}</p>
      <p *ngIf="rolUsuario === 'ADMIN'"><strong>Observaciones del director de instituto:</strong> {{
        articulo.observaciones_directores }}</p>
    </div>

    <!-- Cuadro de Texto para Observaciones -->
    <div *ngIf="rolUsuario === 'ADMIN'" class="form-group">
      <label for="observaciones">Observaciones:</label>
      <textarea id="observaciones" class="form-control" [(ngModel)]="articulo.observaciones_gestion" rows="4"
        [disabled]="articulo.estatus === 4 || articulo.estatus === 2"
        placeholder="Escribe tus observaciones aquí..."></textarea>
    </div>

    <!-- Cuadro de Texto para Observaciones -->
    <div *ngIf="rolUsuario === 'COORDINADOR'" class="form-group">
      <label for="observaciones">Observaciones:</label>
      <textarea id="observaciones" class="form-control" [(ngModel)]="articulo.observaciones_directores" rows="4"
        [disabled]="articulo.estatus === 4 || articulo.estatus === 2"
        placeholder="Escribe tus observaciones aquí..."></textarea>
    </div>

  </div>
  <div *ngIf="rolUsuario === 'COORDINADOR' && articulo.estatus === 1" class="card-footer">
    <button class="btn-aceptar" (click)="aceptarPublicacion()">Aceptar</button>
    <button class="btn-rechazar" (click)="rechazarPublicacion()">Rechazar</button>
  </div>
  <div *ngIf="rolUsuario === 'ADMIN' && articulo.estatus === 3" class="card-footer">
    <button class="btn-aceptar" (click)="aceptarPublicacion()">Aceptar</button>
    <button class="btn-rechazar" (click)="rechazarPublicacion()">Rechazar</button>

  </div>
  <div *ngIf="rolUsuario === 'INVESTIGADOR'" class="card-footer">
    <button class="btn-editar" (click)="editarPublicacion(articulo)">Editar Publicación</button>
  </div>
  <div class="card-footer">
    <button class="btn-descargar" (click)="descargarPublicacion(articulo.fileMetadata.id)">Descargar Archivo</button>
  </div>
</div>