<header class="jumbotron bg-cover text-white">
  <div class="container py-5 text-center d-flex justify-content-center align-items-center">
    <!-- Imagen al lado del h1 -->
    <img src="assets/logo.png" class="mr-3" style="width: 80px; height: 80px;" alt="Logo">
    <div class="text-left">
      <h1 class="display-4 font-weight-bold d-inline-block">Universidad de la Sierra Sur</h1>
    </div>
  </div>
  <div class=" text-center d-flex justify-content-center align-items-center">
    <div class="text-left">
      <p class="font-italic mb-0">Sistema Institucional para el Registro de Investigaciones</p>
    </div>
  </div>
</header>