<div class="sidebar" [ngClass]="{'expanded': isOpen}">
  <div class="sidebar-item no-hover" id="burger" (click)="toggleSidebar()">
    <i class="fa fa-bars hand" aria-hidden="true"></i>
    <span class="sidebar-item-title">Menú</span>
  </div>
  <a class="nav-link" [routerLink]="['/usuario']">
    <div class="sidebar-item" *ngIf="userRole === 'ROOT'">
      <i class="fa fa-users"></i>
      <span class="sidebar-item-title">Usuarios</span>
    </div>
  </a>
  <a class="nav-link" [routerLink]="['/investigador']">
    <div class="sidebar-item" *ngIf="userRole === 'ROOT' || userRole === 'ADMIN'">
      <i class="fa fa-user-plus"></i>
      <span class="sidebar-item-title">Investigadores</span>
    </div>
  </a>
  <a class="nav-link" [routerLink]="['/consultar-publicacion']">
    <div class="sidebar-item" *ngIf="userRole === 'ROOT' || userRole === 'ADMIN' || userRole === 'COORDINADOR'">

      <i class="fa fa-search"></i>
      <span class="sidebar-item-title">Consultar Publicaciones</span>

    </div>
  </a>
  <a class="nav-link" [routerLink]="['/mis-publicaciones']">
    <div class="sidebar-item" *ngIf="userRole === 'INVESTIGADOR' || userRole === 'COORDINADOR'">

      <i class="fa fa-file"></i>
      <span class="sidebar-item-title">Mis Publicaciones</span>

    </div>
  </a>
  <a class="nav-link" [routerLink]="['/registrar-publicacion']">
    <div class="sidebar-item"
      *ngIf="userRole === 'ROOT' || userRole === 'ADMIN' || userRole === 'INVESTIGADOR' || userRole === 'COORDINADOR'">

      <i class="fa fa-pencil-square-o"></i>
      <span class="sidebar-item-title">Registrar Publicación</span>

    </div>
  </a>
  <a class="nav-link" [routerLink]="['/catalogo']">
    <div class="sidebar-item" *ngIf="userRole === 'ROOT'">
      <i class="fa fa-table"></i>
      <span class="sidebar-item-title">Catálogo</span>
    </div>
  </a>
  <!-- Flex Spacer -->
  <div class="flex-spacer"></div>
  <!-- Cerrar Sesión -->
  <a class="nav-link" [routerLink]="['/cmbc']">
    <div class="sidebar-item">
      <i class="fa fa-user-circle-o"></i>
      <span class="sidebar-item-title">Cambiar contraseña</span>
    </div>
  </a>
  <a class="nav-link" routerLink="/iniciar-sesion">
    <div *ngIf="!userLoginOn" class="nav-item">
      <div class="sidebar-item logout-item">
        <i class="fa fa-sign-in" aria-hidden="true"></i>
        <span class="sidebar-item-title">Iniciar Sesión</span>
      </div>
    </div>
  </a>
  <a class="nav-link" (click)="logout()" routerLink="/inicio">
    <div *ngIf="userLoginOn" class="nav-item">
      <div class="sidebar-item logout-item">
      <i class="fa fa-sign-out" aria-hidden="true"></i>
      <span class="sidebar-item-title">Cerrar Sesión</span>
    </div>
    </div>
  </a>
</div>