<app-sidebar></app-sidebar>
<!-- Trimestre Form -->
<div *ngIf="selectedForm === 'trimestre'" class="form-container">
    <form [formGroup]="trimestreForm" (ngSubmit)="onSubmit()">
        <h2>Registrar Trimestre</h2>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input id="nombre" formControlName="nombre" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="fecha_inicio">Fecha de Inicio</label>
            <input id="fecha_inicio" type="date" formControlName="fecha_inicio" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="fecha_fin">Fecha de Fin</label>
            <input id="fecha_fin" type="date" formControlName="fecha_fin" class="form-control" required>
        </div>
        <div class="form-group buttons">
            <button type="submit">Registrar Trimestre</button>
            <button type="button" (click)="cancelar()" class="cancel-button">Cancelar</button>
        </div>
    </form>
</div>

<!-- Instituto Form -->
<div *ngIf="selectedForm === 'instituto'" class="form-container">
    <form [formGroup]="institutoForm" (ngSubmit)="onSubmit()">
        <h2>Registrar Instituto</h2>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input id="nombre" formControlName="nombre" class="form-control" required>
        </div>
        <div class="form-group buttons">
            <button type="submit" class="btn btn-primary">Registrar Instituto</button>
            <button type="button" (click)="cancelar()" class="cancel-button">Cancelar</button>
        </div>
    </form>
</div>